
        body {
            background: url(working-tools-on-wooden-background-top-view-free-photo.jpg);
            background-size: cover;
            color: FFFDF1;
            margin: 0;
            padding: 0;
        }

        header {;
            background-color: rgb(183, 189, 247);
            color: FFCE99;
            padding: 18px;
            text-align: center;
            font-family: ;
        }
        .topnav{
            color: FFCE99;
            padding: 18px;
            text-align: right;
        }

        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            box-shadow: 10px 10px 10px 10px rgb(0 0 0 / .5%);
            padding: 0px;
            background: url(working-tools-on-wooden-background-top-view-free-photo.jpg);
            background-size: cover;
            height: fit-content;
            display: flex;
            justify-content: center;
        }
        .box{
            position: relative;
            max-width: fit-content;
            padding: 50px;
            background: rgba(255,255,255,.2);
        }
        

        .device {
            width: 200px;
            margin: 10px;
            padding: 10px;
            border: 1px solid #4a2903;
            border-radius: 5px;
            text-align: center;
        }
        .dropbtn {
          background-color: #04AA6D;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown-content a:hover {background-color: #ddd;}
        
        .dropdown:hover .dropdown-content {display: block;}
        
        .dropdown:hover .dropbtn {background-color: #3e8e41;}
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: left;
        display: block;
    }
    

    /* Style all p tags */
p{
    font-size: 18px;
    color: blue;
}

a{
    text-decoration: underline;
    color: red;

}

.product-info {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}  